body{
    background-color: #d709ae;

}
form{
    background-color: #dc063e;
    width: 30%;
    margin: auto;
    padding: 30px;
    margin-top: 50px;

}
label{
    width: 91px;
    display: inline-block;
}
button{
    width: 100%;
    height: 30px;
}
input[type=text],[type]
