p{
    font-size: 20px;
    font-weight: bold;
}

}
div{
    background-color: chartreuse;
    padding-left: 30px;

}
.division1{
    background-color: darkblue;
}
.imageparagraph{
    display: flex;
    padd
}
.Division1{
    display: grid;
}